# Flutter & Android
**/build/
**/intermediates/
**/outputs/
android_old/
*.apk
*.bin

# Dart & Flutter tools
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Misc
*.log
*.lock
*.tmp
*.swp

# macOS, Windows, Linux, iOS
ios/
macos/
windows/
linux/
